/* The Modal (background) */
.modal_custom {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content_custom {
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 0;
}
#close_modal_logout{
  height: 40px;
  margin-left: 95%;
}
@media screen and (max-width:480px) {
  .modal_custom{
      width: 800px;
      z-index: 4;
  }
  .modal_content_custom {
      margin: 5% 2%;
      padding: 2px;
  }
  .close {
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      }
  #close_modal_logout{
      margin-left: 90%;
  }
}
